header{
    background-color: rgb(75, 75, 253);
    color:white;
    text-shadow: 1px 5px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.my-container-email{
    background-color: rgb(112, 112, 112);
    
}
.my-email{
    border: 3px solid whitesmoke;
    background-color: gray;
    color: rgb(235, 235, 235);
}
ul li{
    list-style-type:none ;
}
sup{
    font-size: 1rem;
}